{% load i18n %}
{% load i18n admin_urls admin_static admin_list %}

{{ spec.form.media }}


{% block extrahead %}
  <style>

    .ui-datepicker-div {
      top: 246px;
    }

    .daterange_form p {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
    }

    .daterange_form input.grp-button-time {
      width: 20%;
      height: auto;
    }

    .grp-button-time {
      float: right;
      width: 55px !important;
    }
  </style>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" charset="utf-8">
    (function ($) {
      $(document).ready(function () {
        grappelli.initDateAndTimePicker();
        setTimeout(grappelli.initDateAndTimePicker, 1000);
      });
    })(grp.jQuery);
  </script>
{% endblock %}


<form class='daterange_form grp-module'
      method="GET"
      action=""
      accept-charset="utf-8"
      enctype="text/plain">
  <div class='grp-row'>
    <label>Date Range</label>
    {{ spec.form.as_p }}
    <input type="submit" class="grp-button-time" value="{% trans "Filter" %}">
  </div>
</form>
